*.terraform*
*terraform.tfstate.backup
*terraform.tfstate
*.DS_store
letsencrypt/config/*
letsencrypt/logs/*
renew-cert.sh
generate-cert.sh
*.rpm
*.bz2
*.crt
*.key
workloader.log
ansible/pce.hosts
ansible/aws.hosts
ansible/azure.hosts
k8s/*
terraform/config-files/*
!terraform/config-files/se32-aws.yaml
!terraform/config-files/se32-azure.yaml
!terraform/config-files/lab-aws.yaml
!terraform/config-files/lab-azure.yaml
!terraform/config-files/confidential-example.yaml
*.zip
*confidential.yaml
scripts/*.log
