*.terraform*
*terraform.tfstate.backup
*terraform.tfstate
terraform/terraform.tfstate.d/rosa*/terraform.tfstate*.backup
*.DS_store
letsencrypt/config/*
letsencrypt/logs/*
renew-cert.sh
generate-cert.sh
*.rpm
*.bz2
*.crt
*.key
workloader.log
ansible/pce.hosts
ansible/aws.hosts
ansible/azure.hosts
ansible/demo-jumpbox.hosts
ansible/k8s.hosts
ansible/vars.yaml.*
!ansible/vars.yaml.demo-jumpbox
k8s/*
!k8s/yelb*
!k8s/php-guestbook*
config-files/*
!config-files/uc-demo-aws.yaml
!config-files/uc-demo-azure.yaml
!config-files/lab-aws.yaml
!config-files/lab-azure.yaml
!config-files/confidential-example.yaml
!config-files/demo-jumpbox-aws.yaml
!config-files/demo-jumpbox-azure.yaml
!config-files/k8s-aws.yaml
!config-files/k8s-azure.yaml
!config-files/rosa-lab-aws.yaml
!config-files/rosa-lab-azure.yaml
*.zip
*confidential.yaml
scripts/*
!scripts/schedule.sh
!scripts/setup-cs-demo.sh
!scripts/setup-demo-jumpbox.sh
!scripts/setup-k8s.sh
!scripts/setup-rosa-lab.sh
!scripts/teardown-cs-demo.sh
!scripts/teardown-demo-jumpbox.sh
!scripts/teardown-k8s.sh
!scripts/teardown-rosa-lab.sh
vaas/response_body.txt
vaas/*.json
vaas/*.env
!vaas/config-sample.env
.vscode/settings.json
