*.terraform*
*terraform.tfstate.backup
*terraform.tfstate
*.DS_store
letsencrypt/config/*
letsencrypt/logs/*
renew-cert.sh
generate-cert.sh
*.rpm
*.bz2
*.crt
*.key
workloader.log
ansible/pce.hosts
ansible/aws.hosts
ansible/azure.hosts
ansible/demo-jumpbox.hosts
k8s/*
!k8s/yelb*
!k8s/php-guestbook*
config-files/*
!config-files/uc-demo-aws.yaml
!config-files/uc-demo-azure.yaml
!config-files/lab-aws.yaml
!config-files/lab-azure.yaml
!config-files/confidential-example.yaml
!config-files/demo-jumpbox-aws.yaml
!config-files/demo-jumpbox-azure.yaml
*.zip
*confidential.yaml
scripts/*.log
