[web]
{% for instance_name, instance in ec2Instances.items() if instance.tags.type == 'web' %}
{{ instance_name }}{{domain}}
{% endfor %}

[web:vars]
port=443

[app]
{% for instance_name, instance in ec2Instances.items() if instance.tags.type == 'app' %}
{{ instance_name }}{{domain}}
{% endfor %}

[app:vars]
port=8080

[db]
{% for instance_name, instance in ec2Instances.items() if instance.tags.type == 'db' %}
{{ instance_name }}{{domain}}
{% endfor %}

[db:vars]
port=3306

[linux:children]
web
app
db

[azure_jh]
{% for instance_name, instance in linuxVMs.items() if instance.tags.type == 'jumpbox' %}
{{ instance_name }}{{domain}}
{% endfor %}

[aws_jh_pub]
{% for instance_name, instance in ec2Instances.items() if instance.tags.type == 'jumpbox' %}
{{ instance_name }}{{domain}}
{% endfor %}

[aws_jh_priv]
{% for instance_name, instance in ec2Instances.items() if instance.tags.type == 'jumpbox' %}
{{ instance_name }}-priv{{domain}}
{% endfor %}

[all:vars]
ansible_user=ubuntu
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

