src,dst,port
fin-dev-web01.{{ dns }},fin-dev-app01.{{ dns }},8080
fin-dev-app01.{{ dns }},fin-dev-db01.{{ dns }},3306
fin-dev-app01.{{ dns }},fin-prd-db02.{{ dns }},3306
fin-prd-web01.{{ dns }},fin-prd-app01.{{ dns }},8080
fin-prd-web01.{{ dns }},fin-prd-app02.{{ dns }},8080
fin-prd-web01.{{ dns }},fin-prd-app03.{{ dns }},8080
fin-prd-web02.{{ dns }},fin-prd-app01.{{ dns }},8080
fin-prd-web02.{{ dns }},fin-prd-app02.{{ dns }},8080
fin-prd-web02.{{ dns }},fin-prd-app03.{{ dns }},8080
fin-prd-web03.{{ dns }},fin-prd-app01.{{ dns }},8080
fin-prd-web03.{{ dns }},fin-prd-app02.{{ dns }},8080
fin-prd-web03.{{ dns }},fin-prd-app03.{{ dns }},8080
fin-prd-app01.{{ dns }},fin-prd-db01.{{ dns }},3306
fin-prd-app01.{{ dns }},fin-prd-db02.{{ dns }},3306
fin-prd-app02.{{ dns }},fin-prd-db01.{{ dns }},3306
fin-prd-app02.{{ dns }},fin-prd-db02.{{ dns }},3306
fin-prd-app03.{{ dns }},fin-prd-db01.{{ dns }},3306
fin-prd-app03.{{ dns }},fin-prd-db02.{{ dns }},3306
fin-prd-app01.{{ dns }},rdsdb01.{{ dns }},3306
fin-prd-app02.{{ dns }},rdsdb01.{{ dns }},3306
fin-prd-app03.{{ dns }},rdsdb01.{{ dns }},3306
fin-prd-db01.{{ dns }},fin-prd-db02.{{ dns }},3306
fin-prd-db02.{{ dns }},fin-prd-db01.{{ dns }},3306
hrm-dev-web01.{{ dns }},hrm-dev-app01.{{ dns }},8080
hrm-dev-app01.{{ dns }},hrm-dev-db01.{{ dns }},3306
hrm-dev-app01.{{ dns }},hrm-prd-db02.{{ dns }},3306
hrm-prd-web01.{{ dns }},hrm-prd-app01.{{ dns }},8080
hrm-prd-web01.{{ dns }},hrm-prd-app02.{{ dns }},8080
hrm-prd-web01.{{ dns }},hrm-prd-app03.{{ dns }},8080
hrm-prd-web02.{{ dns }},hrm-prd-app01.{{ dns }},8080
hrm-prd-web02.{{ dns }},hrm-prd-app02.{{ dns }},8080
hrm-prd-web02.{{ dns }},hrm-prd-app03.{{ dns }},8080
hrm-prd-web03.{{ dns }},hrm-prd-app01.{{ dns }},8080
hrm-prd-web03.{{ dns }},hrm-prd-app02.{{ dns }},8080
hrm-prd-web03.{{ dns }},hrm-prd-app03.{{ dns }},8080
hrm-prd-app01.{{ dns }},hrm-prd-db01.{{ dns }},3306
hrm-prd-app01.{{ dns }},hrm-prd-db02.{{ dns }},3306
hrm-prd-app02.{{ dns }},hrm-prd-db01.{{ dns }},3306
hrm-prd-app02.{{ dns }},hrm-prd-db02.{{ dns }},3306
hrm-prd-app03.{{ dns }},hrm-prd-db01.{{ dns }},3306
hrm-prd-app03.{{ dns }},hrm-prd-db02.{{ dns }},3306
hrm-prd-db01.{{ dns }},hrm-prd-db02.{{ dns }},3306
hrm-prd-db02.{{ dns }},hrm-prd-db01.{{ dns }},3306
